@font-face {
  font-family: 'AsciiFont';
  src: url('../fonts/ASCIIART.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaMono';
  src: url('../fonts/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaMono';
  src: url('../fonts/CaskaydiaMonoNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'CaskaydiaMono';
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed white;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  width: 100%;
  padding: 0 2vw 0 2vw;
}

a {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  text-shadow:
    0 0 8px white;
}

.command-text {
  font-size: 1.4em;
}

#presentation {
  padding: var(--content-padding);
  box-sizing: border-box;
  width: 100%;
}

#pres-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4vh;
}

#pres-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 3vh;
}

#pfp-container {
  height: var(--pfp-size);
  width: var(--pfp-size);
  position: relative;
  padding: 1vw;
  border: 3px dashed white;
}

#pfp-ascii,
#pfp-real {
  height: var(--pfp-size);
  width: var(--pfp-size);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vw;
  border-radius: 5px;
}

#pfp-ascii:hover {
  transition: 0.4s ease-in-out;
}

#pfp-ascii:hover {
  opacity: 0;
}

#pfp-real {
  opacity: 0;
  transition: 0.4s ease-in-out;
}

#pfp-real:hover {
  opacity: 1;
  scale: 1.1;
}

#name {
  height: 100%;
  width: 900px;
}

#greeting {
  padding-bottom: 2vh;
  margin: 0;
  font-weight: bold;
  font-size: var(--greeting-subtitle);
  padding-top: 2vh;
  margin-top: 2vh;
  text-align: center;
}

#social-links-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: var(--social-link-text);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.logo {
  font-size: var(--logo-size);
}

#skills-section {
  display: flex;
  gap: 1vw;
  padding-bottom: 3vh;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  border: 3px dashed white;
}

.skill-container p {
  text-align: center;
}

.skill-title {
  font-size: var(--sub-title);
}

.skill-icon {
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: var(--skill-icon);
}

#projects-section {
  display: flex;
  flex-direction: column;
}

#projects-section>*:nth-child(2) {
  margin-top: 3vh;
}

#projects-section>*:nth-child(3) {
  margin: 3vh 0 3vh 0;
}

#projects-section>*:nth-child(4) {
  margin-bottom: 3vh;
}

.project-container {
  align-self: center;
  width: 70%;
  padding: 1vw;
  display: flex;
  gap: 20px;
  border: 3px dashed white;
}

.project-title {
  font-size: var(--sub-title);
}

.project-img-r,
.project-img-l {
  height: var(--project-img-size);
  width: var(--project-img-size);
  align-self: center;
  border-radius: 5px;
}

.project-img-l {
  margin-left: auto;
}

.project-link {
  cursor: pointer;
}

#contact-info-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1em;
  margin-bottom: var(--content-padding);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  padding: 10px;
  border: 3px dashed white;
}
