@font-face {
  font-family: 'AsciiFont';
  src: url('../fonts/ASCIIART.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaMono';
  src: url('../fonts/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaMono';
  src: url('../fonts/CaskaydiaMonoNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'CaskaydiaMono';
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px dashed white;
  margin: 10px;

  user-select: none;
}

body {
  width: 100%;
  padding: 0 2vw 0 2vw;
}

.portfolio-img {
  filter: grayscale(100%) contrast(1.2) blur(0.5px);
  opacity: 0.8;

  border-radius: 5px;
  transition: all 0.3s ease;
}

.portfolio-img:hover {
  filter: none;
  opacity: 1;
  scale: 1.5;
}

#presentation {
  padding: 2vw 0 2vw 0;
  width: 100%;
}

#pres-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  gap: 50px;
}

#pfp {
  height: auto;
  width: 200px;
}

#name {
  height: 100%;
  width: 900px;
}

#greeting-container {
  display: flex;
  padding: 1vw;
  align-items: start;
}

#greeting {
  margin: 0;
  font-weight: bold;
}

#greeting {
  font-size: 2em;
}
