:root {
  --pfp-size: 350px;
  --content-padding: 2vw;
  --greeting-subtitle: 1.2em;
  --social-link-text: 1.5em;
  --sub-title: 1.4em;
  --logo-size: 1.8em;
  --skill-icon: 10em;
  --project-img-size: 150px;
}
